<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../sass/fonts/Glyphter.css">
    <link rel="stylesheet" href="../../css/style.css">
    <title>Page Links</title>
</head>

<body>
    <header>
        <div class="top-bar">
            <ul>
                <li><a href="#"><i class="ico icon-wallet"></i>$1,500.00<i class="ico icon-arrow-down-small"></i></a></li>
                <li><a href="#"><i class="ico icon-notification"></i></a></li>
                <li><a class="profile" href="#"><i class="ico icon-profile"></i>Leonardo Dicaprio</a></li>
                <li><a href="#"><i class="ico icon-quit"></i></a></li>
            </ul>
        </div>
    </header>
    <nav class="sidebar">
        <div class="logo-menu"><img class="menu-logo" src="../../images/logo.png" alt="logo"><img class="icons-ham" src="/sass/fonts/ham.svg"
                alt="hamburger"></div>
        <div class="sidebar-big">
            <ul>
                <li><a href="#"><i class="icn icon-general"></i>General</a></li>
                <li><a href="#"><i class="icn icon-details"></i>Details</a></li>
                <li><a href="#"><i class="icn icon-links"></i>Links</a></li>
                <li><a href="#"><i class="icn icon-banners"></i>Banners</a></li>
                <li><a href="#"><i class="icn icon-personaldata"></i>Personal data</a></li>
                <li><a href="#"><i class="icn icon-payout"></i>Payout</a></li>
                <li><a href="#"><i class="icn icon-postback"></i>Postback</a></li>
            </ul>
            <div class="manager">
                <h2>Your manager</h2>
                <img src="../../images/Layer_4.png" alt="manager" align="left">
                <h3>Mikhael E.</h3>
            </div>
        </div>
        <div class="sidebar-small">
            <ul>
                <li><a href="#"><i class="icn icon-general"></i>General</a></li>
                <li><a href="#"><i class="icn icon-details"></i>Details</a></li>
                <li><a href="#"><i class="icn icon-links"></i>Links</a></li>
                <li><a href="#"><i class="icn icon-banners"></i>Banners</a></li>
                <li><a href="#"><i class="icn icon-personaldata"></i>Personal data</a></li>
                <li><a href="#"><i class="icn icon-payout"></i>Payout</a></li>
                <li><a href="#"><i class="icn icon-postback"></i>Postback</a></li>
            </ul>
            <ul class="small-topbar">
                <li><a href="#"><i class="ico icon-wallet"></i>$1,500.00</a></li>
                <li><a href="#"><i class="ico icon-notification"></i></a></li>
                <li><a class="profile" href="#"><i class="ico icon-profile"></i>Leonardo Dicaprio</a></li>
                <li><a href="#"><i class="ico icon-quit"></i></a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="container-fluid">
            <section class="links">
                <h1>Links</h1>
                <div class="table">
                    <div class="btn btn-accept">+ add new</div>
                    <div class="table-link">
                        <h2>Home page</h2>
                        <a class="link lg-link" href="#">http://www.homepage.com</a>
                        <div class="icons"><i class="icon-links"></i><i class="icon-trash"></i></div>
                    </div>
                    <div class="table-link">
                        <h2>Currently offer</h2>
                        <a class="link lg-link" href="#">http://www.currently.com</a>
                        <div class="icons"><i class="icon-links"></i><i class="icon-trash"></i></div>
                    </div>
                    <div class="table-link">
                        <h2>Blurpix</h2>
                        <a class="link lg-link" href="#">http://www.blurpix.com</a>
                        <div class="icons"><i class="icon-links"></i><i class="icon-trash"></i></div>
                    </div>
                    <div class="table-link">
                        <h2>Your Site</h2>
                        <a class="link lg-link" href="#">http://www.yoursite.com</a>
                        <div class="icons"><i class="icon-links"></i><i class="icon-trash"></i></div>
                    </div>
                    <div class="table-link">
                        <h2>Google</h2>
                        <a class="link lg-link" href="#">http://www.google.com</a>
                        <div class="icons"><i class="icon-links"></i><i class="icon-trash"></i></div>
                    </div>
                    <div class="table-link">
                        <h2>Facebook</h2>
                        <a class="link lg-link" href="#">http://www.facebook.com</a>
                        <div class="icons"><i class="icon-links"></i><i class="icon-trash"></i></div>
                    </div>
                    <div class="table-link">
                        <h2>Dashboard</h2>
                        <a class="link lg-link" href="#">http://www.dashboard.com</a>
                        <div class="icons"><i class="icon-links"></i><i class="icon-trash"></i></div>
                    </div>
                    <div class="table-link">
                        <h2>Blurax</h2>
                        <a class="link lg-link" href="#">http://www.blurax.com</a>
                        <div class="icons"><i class="icon-links"></i><i class="icon-trash"></i></div>
                    </div>
                    <div class="table-link">
                        <h2>Piece of Wine</h2>
                        <a class="link lg-link" href="#">http://www.pieceofwine.com</a>
                        <div class="icons"><i class="icon-links"></i><i class="icon-trash"></i></div>
                    </div>
                    <div class="table-link">
                        <h2>Twitter</h2>
                        <a class="link lg-link" href="#">http://www.twitter.com</a>
                        <div class="icons"><i class="icon-links"></i><i class="icon-trash"></i></div>
                    </div>
                    <div class="btn btn-accept">+ add new</div>
                </div>
            </section>
        </div>
    </div>
    <script src="../../js/script.js"></script>
</body>

</html>