.btn {
    padding: 20px;
    min-height: 35px;
    color: #ffffff;
    border-radius: 3px;
    // padding: 10px 20px;
    font-family: $main-font;
    font-weight: $button-weight;
}

.btn-cancel {
    background-color: #979797;
    cursor: pointer;
}

.btn-cancel:hover {
    background-color: $button-canc-hover-color;
}

.btn-accept {
    background-color: $button-main-color;
    cursor: pointer;
}

.btn-accept:hover {
    background-color: #ffa200;
}

.btn-disabled {
    background-color: #e3e3e3;
    cursor: pointer;
}

.btn-small {
    position: relative;
    font-size: 15px;
    background-color: $button-main-color;
    cursor: pointer;
}

.btn-small:hover {
    background-color: #ffa200;
}