.text-input {
    width: 157px;
    height: 124px;
    padding: 18px 20px;
    box-sizing: border-box;
    border: 1px solid $border-color;
    border-radius: 3px;
    background-color: #f8f8f8;
    font-size: 12px;
    font-family: $main-font;
    font-weight: $paragraph-font-weight;
    resize: none;
}