.list-digit {
    display: flex;
    align-items: flex-start;
    width: 310px;
    border-bottom: 1px solid $border-color;
    padding-bottom: 5px;
}


.list-digit .number-list {
    align-self: flex-end;
}