.quit-modal {
    width: 70%;
}

.quit-modal .modal-header {
    padding: 15px;
}

.quit-modal .modal-body {
    padding: 0;
}

.quit-btn .btn {
    padding: 15px;
    max-width: 117px;
    display: inline-block;
}

.quit-btn .btn-cancel {
    margin-left: 30px;
}

.quit-btn .btn-accept {
    margin-left: 15px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .quit-modal {
        width: 50%;
    }

    .quit-btn .btn {
        padding: 10px 20px;
    }

    .quit-btn .btn-cancel {
        margin-left: 175px;
    }
}

@media(min-width: 992px) and (max-width: 1199px) {
    .quit-btn .btn {
        padding: 10px 20px;
    }

    .quit-modal {
        width: 40%;
    }

    .quit-btn .btn-cancel {
        margin-left: 190px;
    }
}


@media (min-width: 1200px) {
    .quit-btn .btn {
        padding: 10px 20px;
    }

    .quit-modal {
        width: 30%;
    }

    .quit-btn .btn-cancel {
        margin-left: 160px;
    }
}