.menu-logo {
    margin-left: 20px;
    margin-top: 18px;
}

nav {
    width: 100%;
    height: 100vh;
    background-color: $background-color-sitebar;

    ul {
        padding: 0;
        list-style-type: none;
        padding-bottom: 40px;
        border-bottom: 1px solid #333333;
        padding-top: 20px;
    }

    ul li a {
        display: block;
        padding-left: 15px;
        font-size: $menu-font-size;
        line-height: 42px;
        text-decoration: none;
        font-family: $main-font;
        font-weight: 300;
        color: #999999;
    }

}

nav ul li:hover>a {
    cursor: pointer;
    background-color: #282828;
    border-left: 4px solid orange;
    color: #ffffff;
}

.icn {
    font-size: 25px;
}

.icons-ham {
    padding-left: 50px;
    color: #999999;
}

.details {
    padding-right: 15px;
    width: 16px;
    height: 16px;
}

.sidebar.component {
    position: static;
    height: 100vh;
}

.manager {
    margin-left: 20px;

    h2 {
        color: #808080;
        font-family: $main-font;
        font-size: $paragraph-font-size;
        padding-top: 20px;
        padding-bottom: 20px;
        font-weight: 500;
        text-transform: uppercase;
    }

    h3 {
        color: #56819f;
        font-family: $main-font;
        font-size: $paragraph-font-size;
        font-weight: 300;
        padding-top: 15px;
        padding-left: 55px;
    }
}