.table-link {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-top: 1px solid $border-color;
    transition: 0.3s;
    cursor: pointer;

    h2 {
        text-align: left;
        width: 120px;
    }

    .icons {
        color: $icon-color;
    }

    a {
        text-decoration: none;
    }

    &hover {
        background-color: rgba(177, 191, 191, 0.18);
    }

}

.table-link:hover .table-link a:hover {
    color: $link-hover-color;
}