h1 {
    font-size: $main-font-size;
    color: $main-color;
    font-family: $main-font;
    font-weight: $main-font-weight;
    text-transform: uppercase;
}

h2 {
    font-size: $main-font-size;
    color: $main-color;
    font-family: $main-font;
    font-weight: $section-font-weight;
}