<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../sass/fonts/Glyphter.css">
    <link rel="stylesheet" href="../../css/style.css">
    <title>Page Title</title>
</head>

<body>
    <section class="links">
        <h1>Banners</h1>
        <div class="table">
            <div class="btn btn-accept">+ add new</div>
            <div class="table-link">
                <h2>Banner main</h2>
                <a class="link lg-link" href="#">http://www.website.com/bannermain.gif</a>
                <div class="icons"><i class="icon-links"></i><i class="icon-trash"></i></div>
            </div>
            <div class="table-link">
                <h2>Sign up banner</h2>
                <a class="link lg-link" href="#">http://www.website.com/signup.gif</a>
                <div class="icons"><i class="icon-links"></i><i class="icon-trash"></i></div>
            </div>
            <div class="table-link">
                <h2>Banner left side</h2>
                <a class="link lg-link" href="#">http://www.website.com/leftside.gif</a>
                <div class="icons"><i class="icon-links"></i><i class="icon-trash"></i></div>
            </div>
            <div class="table-link">
                <h2>Vertical banner</h2>
                <a class="link lg-link" href="#">http://www.yoursite.com/vert.gif</a>
                <div class="icons"><i class="icon-links"></i><i class="icon-trash"></i></div>
            </div>
            <div class="table-link">
                <h2>Front banner</h2>
                <a class="link lg-link" href="#">http://www.website.com/front.gif</a>
                <div class="icons"><i class="icon-links"></i><i class="icon-trash"></i></div>
            </div>
            <div class="table-link">
                <h2>Horizontal banner</h2>
                <a class="link lg-link" href="#">http://www.website.com/horizontal.gif</a>
                <div class="icons"><i class="icon-links"></i><i class="icon-trash"></i></div>
            </div>
            <div class="btn btn-accept">+ add new</div>
        </div>
    </section>
</body>

</html>