<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../fonts/Glyphter.css">
    <link rel="stylesheet" href="../../css/style.css">
    <title>Section General</title>
</head>

<body>
    <!-- Section General -->
    <div class="container">
        <div class="general">
            <h1>General Statistic</h1>
            <div class="row">
                <div class="col-s-12 col-m-12 data">
                    <div class="data-period">
                        <span>30.01.2019</span><span>30.01.2019</span><i class="icon-calendar"></i> </div>
                    <div class="btn btn-small"><i class="icon-refresh"></i></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-xl-12 statistic">
                    <div class="list-digit">
                        <h2>Visit Signups</h2>
                        <div class="number-list">
                            <p>124</p>
                        </div>
                    </div>
                    <div class="list-digit">
                        <h2>Net deposit</h2>
                        <div class="number-list">
                            <p>564</p>
                        </div>
                    </div>
                    <div class="list-digit">
                        <h2>FTD</h2>
                        <div class="number-list">
                            <p>445</p>
                        </div>
                    </div>
                    <div class="list-digit">
                        <h2>Turn over</h2>
                        <div class="number-list">
                            <p>432</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="earning-chart">
                <h2>Earnings chart</h2>
                <div class="row">
                    <div class="col-m-12 col-lg-12 col-xl-5 graph"><img class="responsive" src="../../images/graph.png"
                            alt="graph"></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>