.tables {
    overflow-x: auto;
    margin-top: 30px;
    padding-left: 5px;
    padding-right: 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
}


td {
    padding: 20px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: $paragraph-font-size;
    font-family: $main-font;
    cursor: pointer;
}

th {
    font-size: $main-font-size;
    color: $main-color;
    font-family: $main-font;
    font-weight: 600;
    text-align: left;
    padding: 15px 10px;
    width: 20px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    cursor: pointer;
}

th i {
    font-size: 12px;
    padding-left: 5px;
    display: none;
    transition: 0.2s;
}

th:hover i {
    display: inline-block;
}

th:hover {
    background-color: #f5f5f5;
    color: black;
}

tr:hover {
    background-color: #f5f5f5;
}

tr:hover:nth-of-type(1) {
    background-color: transparent;
}

tfoot {
    font-weight: bold;
}

tfoot .change {
    width: 100%;
    text-align: right;
}

tfoot .change a {
    display: inline-block;
    background: #FFFFFF;
    color: $link-color;
    font-size: $main-font-size;
    padding: 2px 8px;
    border-radius: 5px;
    text-decoration: none;
}

tfoot .change a i {
    font-size: 12px;
}

tfoot .change a:hover {
    color: $link-hover-color;
}