.container {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.general {
    display: flex;
    flex-direction: column;

    h1 {
        text-align: center;
        padding: 15px;
        border-bottom: 1px solid $border-color;
    }
}

.data {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid $border-color;

    .btn {
        margin-left: 5px;
    }
}

.data-period p {
    padding-right: 20px;
    padding-left: 15px;
}

.icon-calendar {
    padding: 10px;
    color: $icon-color;
}

.statistic {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;

    .list-digit {
        justify-content: space-between;
        margin-right: 60px;
        margin-bottom: 22px;
    }
}

.earning-chart {
    margin-top: 50px;

    h2 {
        text-align: center;
    }

    .graph {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .responsive {
        max-width: 100%;
        height: auto;
    }
}

@media(min-width: 768px) and (max-width: 991px) {
    @include grid('m');

    .statistic {
        margin-left: 50px;
    }

    .data-period p {
        padding-left: 50px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    @include grid('lg');

    .general h1 {
        text-align: left;
    }

    .data-period p {
        padding-left: 50px;
    }

    .statistic {
        margin-left: 150px;
    }
}

@media (min-width: 1200px) {
    @include grid ('xl');

    .general h1 {
        text-align: left;
    }

    .data-period p {
        padding-left: 50px;
    }

    .statistic {
        margin-left: 250px;
    }
}