.container {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.general {
    display: flex;
    flex-direction: column;
}

.general h1 {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid $border-color;
}

.btn i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.data {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid $border-color;
}

.data-period {
    width: 30%;
}

.icon-calendar {
    color: $icon-color;
}

.data .btn {
    margin-left: 5px;
}

.statistic {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.statistic .list-digit {
    justify-content: space-between;
    margin-right: 60px;
    margin-bottom: 22px;
}

.earning-chart {
    margin-top: 50px;
}

.earning-chart h2 {
    text-align: center;
}

.earning-chart .graph {
    margin-top: 50px;
    margin-bottom: 50px;
}

.earning-chart .responsive {
    max-width: 100%;
    height: auto;
}

@media(min-width: 768px) and (max-width: 991px) {
    @include grid('m');

    .data-period {
        width: 40%;
    }

    .statistic {
        margin-left: 50px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    @include grid('lg');

    .data-period {
        width: 40%;
    }

    .data-period span {
        margin-right: 16%;
    }

    .general h1 {
        text-align: left;
    }

    .statistic {
        margin-left: 150px;
    }
}

@media (min-width: 1200px) {
    @include grid ('xl');

    .general h1 {
        text-align: left;
    }

    .data-period {
        width: 30%;
    }

    .statistic {
        margin-left: 250px;
    }

    .data-period span {
        margin-right: 21%;
    }
}