* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row:after,
.row:before {
    content: "";
    display: block;
}

.row:after {
    clear: both;
}

.links h1 {
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid $border-color;
}

.table {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-link {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 0;

    &:hover {
        background-color: transparent;
    }

    h2,
    .link {
        text-align: center;
        margin-bottom: 10px;
    }

    .icons {
        visibility: hidden;
    }
}

.table-link:nth-of-type(11) {
    border-bottom: 1px solid $border-color;
}

.btn {
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (min-width: 768px) and (max-width: 991px) {

    .table-link {
        font-size: 16px;
        flex-direction: row;
        margin-bottom: 0;
        padding: 20px;

        &:hover {
            background-color: rgba(177, 191, 191, 0.18);
        }

        &:hover .icons {
            visibility: visible;
        }

        &:hover .icon-links {
            color: $icon-main-color-hover;
        }

        .link {
            width: 120px;
            margin-left: 200px;
        }

        .icons {
            visibility: hidden;
            margin-left: 120px;
        }

        h2,
        .link {
            text-align: left;
            margin-bottom: 0;
        }
    }

    .icons i {
        color: $icon-color;
        margin-left: 10px;
        font-size: 16px;
    }

}

@media (min-width: 992px) and (max-width: 1199px) {

    .table-link {
        font-size: 16px;
        flex-direction: row;
        margin-bottom: 0;
        padding: 20px;

        &:hover {
            background-color: rgba(177, 191, 191, 0.18);
        }

        &:hover .icons {
            visibility: visible;
        }

        &:hover .icon-links {
            color: $icon-main-color-hover;
        }

        .link {
            width: 120px;
            margin-left: 200px;
        }

        .icons {
            visibility: hidden;
            margin-left: 120px;
        }

        h2,
        .link {
            text-align: left;
        }
    }

    .icons i {
        color: $icon-color;
        margin-left: 10px;
        font-size: 16px;
    }

    .btn {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .links h1 {
        text-align: left;
    }
}

@media (min-width: 1200px) {

    .table-link {
        font-size: 16px;
        flex-direction: row;
        margin-bottom: 0;
        padding: 20px;

        &:hover {
            background-color: rgba(177, 191, 191, 0.18);
        }

        &:hover .icons {
            visibility: visible;
        }

        &:hover .icon-links {
            color: $icon-main-color-hover;
        }

        h2,
        .link {
            text-align: left;
            margin-bottom: 0;
        }

        .link {
            width: 120px;
            margin-left: 200px;
        }

        .icons {
            visibility: hidden;
            margin-left: 120px;
        }
    }

    .icons i {
        margin-left: 20px;
    }

    .btn {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .links h1 {
        text-align: left;
    }
}