* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row:after,
.row:before {
    content: "";
    display: block;
}

.row:after {
    clear: both;
}

.links h1 {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid $border-color;
}

.table {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-link {
    font-size: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.table-link h2,
.link {
    text-align: center;
    margin-bottom: 10px;
}

.table-link i {
    margin-left: 10px;
}

.table-link:hover {
    background-color: transparent;
}

.btn {
    margin-top: 5px;
    margin-bottom: 15px;
}

.table-link:nth-of-type(11) {
    border-bottom: 1px solid $border-color;
}

@media (min-width: 768px) and (max-width: 991px) {

    .table-link {
        width: 50%;
    }

    .table-link h2 {
        font-size: $main-font-size;
    }

}

@media (min-width: 992px) and (max-width: 1199px) {

    .table-link {
        font-size: 16px;
        flex-direction: row;
    }

    .table-link .link {
        width: 120px;
        margin-left: 200px;
    }

    .table-link .icons {
        margin-left: 120px;
    }

    .table-link:hover {
        background-color: #b1bfbf;
        opacity: 0.9;
    }
}

@media (min-width: 1200px) {

    .table-link {
        font-size: 16px;
        flex-direction: row;
    }

    .table-link .link {
        width: 120px;
        margin-left: 200px;
    }

    .table-link .icons {
        visibility: hidden;
        margin-left: 120px;
    }

    .table-link:hover .icons {
        visibility: visible;
    }

    .table-link:hover {
        background-color: #b1bfbf;
        opacity: 0.99;
    }
}